@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Nohemi", sans-serif;
    letter-spacing: 0.05em;
}

/* Custom thin scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    border-radius: 10px;
    border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@font-face {
    font-family: "Modernist";
    src: url(fonts/Sk-Modernist-Regular.otf);
}
@font-face {
    font-family: "Nohemi";
    src: url(fonts/Nohemi-Regular.woff2);
}

@layer utilities {
    * {
        user-select: none;
    }
    .text-balance {
        text-wrap: balance;
    }
    font-[Modernist] {
        font-family: Modernist;
    }
    font-[Nohemi] {
        font-family: Nohemi;
    }
}

.sign-in-button,
.guest-button {
    color: #fff;
    transition: 0.8s;
    &:hover,
    &:focus {
        border-color: #fff;
        color: #000;
    }
}

.sign-in-button:hover,
.guest-button:hover,
.sign-in-button:focus,
.guest-button:focus {
    box-shadow: inset 25rem 0 0 0 #fff;
}

/* .guest-button {
    color: #fff;
    transition: 0.5s;
}

.guest-button:hover,
.guest-button:focus {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-underline-offset: 4px;
} */

/* .chat {
    background-image: url("public/room/doddle.jpg");
    background-attachment: fixed;
} */
